@model DetailViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = Model.pageHeader;
}

<h4 class="flow-text center">@Model.pageHeader</h4>
<div class="row">

    <div class="col s12">
        <div class="card large">
            <div class="card-image">
                @if ((Model.Car.PhotoPath) == null || Model.Car.PhotoPath == "")
                {
                    <img src="https://source.unsplash.com/1600x900/?car">
                }
                else
                {
                    <img src="~/images/@Model.Car.PhotoPath" />
                }
                <strong><span class="card-title">@Model.Car.BrandName @Model.Car.ModelName</span></strong>
            </div>
            <div class="card-content">
                <p>
                    @Model.Car.Description
                </p>
            </div>
            <div class="card-action center">
                @if (Model.Car.Amount > 0)
                {
                    <a asp-controller="RentCar" asp-action="NewRent" asp-route-id="@Model.Car.CarID" class="btn">Rent</a>
                }
                else
                {
                    <a class="btn disabled">Rent</a>
                }
                <a asp-action="Index" class="btn indigo">Home</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Car.CarID" class="btn">Edit</a>

                        <a asp-action="AddCar" class="btn">New</a>
                    }
                }
            </div>
        </div>
    </div>

</div>
