@model IEnumerable<MoveNowB.Models.Car>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
@await Html.PartialAsync("~/Views/Shared/_Carousel.cshtml");
@await Html.PartialAsync("~/Views/Shared/_BreadCrumb.cshtml");
<div class="row container">
    @foreach (var item in Model)
    {
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    @if ((item.PhotoPath) == null || item.PhotoPath == "")
                    {
                        <img src="https://source.unsplash.com/1600x900/?car">
                    }
                    else
                    {
                        <img src="~/images/@item.PhotoPath" height="150" style="object-fit:cover"/>
                    }
                    <strong><span class="card-title">@item.BrandName @item.ModelName</span></strong>
                </div>
                <div class="card-content">
                    <p class="truncate">
                        @item.Description
                    </p>
                </div>
                <div class="card-action center">
                    @if (item.Amount > 0)
                    {
                        <a asp-controller="RentCar" asp-action="NewRent" asp-route-id="@item.CarID" class="btn">Rent</a>
                    }
                    else
                    {
                        <a class="btn disabled">Rent</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.CarID" class="btn indigo">Details</a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.CarID" class="btn">Edit</a>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
